@import url('https://fonts.googleapis.com/css?family=Niramit:400,700');
body {
	margin: 0;
	padding: 0;
	outline: 0;
	font-family: 'Niramit', sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #000;
	position: relative;
	background-image: url(../images/bg.jpg);
}
.main {
    width: 960px;
    margin: 0 auto;
}
.clear {
	overflow: hidden;
}
.header {
	background-color: #dc0e4b;
	color: #fff;
}
.logo {
	width: 430px;
	float: left;
}
.logo img {
	float: left;
	padding-left: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
	width: 82px;
	margin-right: 15px;
}
.logo h2 {
	font-size: 32px;
	margin-top: 25px;
	margin-bottom: 10px;
	text-shadow: 2px 2px 0px #666;
}
.logo p {}
.social {
	float: right;
	width: 255px;
	padding-top: 25px;
}
.social img {
	width: 50px;
	margin-right: 9px;
}
.nav {
	background-color: #F93D6D;
}
.nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.nav ul li {
	display: block;
	padding: 11px;
	float: left;
}
.nav ul li a {
	text-decoration: none;
	background-color: #DC0E4B;
	color: #fff;
	padding: 1px 22px;
	border-radius: 4px;
	font-size: 16px;
	font-weight: bold;
}
.nav ul li a:hover, #active {
	background-color: #FF5787;
	color: #333;
	border: 1px solid #DC0E4B;
}
.slidersection {
	margin-bottom: 8px;
	box-shadow: 0px 2px 0px 0px #F93D6D;
}
.content {
	background-color: #fff;
}
.maincontent {
	background-color: #E1DFE1;
	width: 601px;
	float: left;
	margin: 0px 15px 15px 0px;
	padding: 10px;
	border: 1px solid #DC0E4B;
}
.about {}
.about img {
	width: 250px;
	float: left;
	background: #fff;
	padding: 5px;
	margin-right: 10px;
	border: 1px solid #F93D6D;
}
#postimage {

}
.about p {
	font-size: 17px;
	text-align: justify;
	margin-bottom: 10px;
}
input[type="text"], input[type="email"], textarea {
	width: 350px;
	padding: 10px;
	border: 1px solid #FD80A9;
	border-radius: 3px;
	margin-bottom: 5px;
}
input[type="submit"] {
	background-color: #F0EEF0;
	padding: 4px 15px;
	border: 1px solid #DC0E4B;
	border-radius: 4px;
	font-size: 17px;
	color: #F93D6D;
	cursor: pointer;
}
input[type="submit"]:hover {
	background-color: #F93D6D;
	color: #fff;
}
.samepost {
	padding-bottom: 12px;
}
.samepost h2, .about h2 {
	border-bottom: 1px solid #ABA9AC;
	margin-bottom: 8px;
	padding-bottom: 8px;
	margin-top: 8px;
}
.samepost img {
	width: 39%;
	background-color: #fff;
	padding: 7px;
	border: 1px solid #DC0E4B;
	float: left;
	margin-right: 12px;
	height: 150px;
}
.samepost p {
	text-align: justify;
	font-size: 17px;
}
.readmore {
	float: right;
	margin-top: 10px;
}
.readmore a {
	text-decoration: none;
	background-color: #F0EEF0;
	padding: 4px 8px;
	display: block;
	border: 1px solid #DC0E4B;
	border-radius: 4px;
	font-size: 17px;
	color: #F93D6D;
}
.readmore a:hover {
	background-color: #F93D6D;
	color: #fff;
}
.releated {}
.releated h2 {
	text-align: left;
	background-color: #F93D6D;
	padding: 10px;
	margin-bottom: 10px;
	border-bottom: 2px solid #A30012;
	margin-top: 2px;
}
.releated img {
	width: 180px;
	height: 100px;
	padding: 4px;
	background-color: #fff;
	border: 1px solid #F4B4C7;
	margin-left: 6px;
}
.releated img:hover {
	opacity: 0.4;
}
.sidebar {
	background-color: #E1DFE1;
	width: 285px;
	float: right;
	margin: 0px 0px 15px 15px;
	padding: 10px;
	border: 1px solid #DC0E4B;
}
.samesidebar {}
.samesidebar h2 {
	text-align: center;
	background-color: #F93D6D;
	padding: 10px;
	margin-bottom: 10px;
	border-bottom: 2px solid #A30012;
	margin-top: 2px;
}
.samesidebar ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.samesidebar ul li {
	margin-bottom: 10px;
	border-bottom: 1px dashed #D4657F;
	padding: 5px;
}
.samesidebar ul li:last-child {
	border-bottom: 0px dashed #D4657F;
}
.samesidebar ul li a {
	text-decoration: none;
	color: #A2214C;
}
.samesidebar ul li a:hover {
	color: #000;
}
.samesidebar p {
	margin-bottom: 8px;
}
.popular {}
.popular h3 {
	font-weight: normal;
	border-bottom: 1px dashed;
	padding-bottom: 5px;
}
.popular h3 a {
	text-decoration: none;
	color: #A0000F;
}
.popular h3 a:hover {
	color: #000;
}
.popular img {
	width: 110px;
	height: 72px;
	background-color: #fff;
	padding: 4px;
	border: 1px solid #DC0E4B;
	border-radius: 10%;
	float: left;
	margin-right: 11px;
	margin-top: 2px;
}
.popular p {}
.footer {
	background-color: #D60845;
	text-align: center;
}
.footer p {
	font-size: 17px;
	font-style: italic;
}
.footermenu {}
.footermenu ul {
	margin: 0;
    padding: 0;
    list-style: none;
}
.footermenu ul li {
	display: inline-block;
	padding: 10px;
}
.footermenu ul li a {
	color: #FFF;
	font-size: 18px;
}
.fixedicon {
	left: 0px;
	top: 130px;
	position: fixed;
	width: 60px;
}
.fixedicon img {
	width: 75px;
}